*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  caret-color: white;
}
@font-face{
  font-family: norse-bold;
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}
a{
  text-decoration: none;
  color: #596D48
}
.main {
  display: flex;
  align-items: stretch;
  min-width: 100vw;
  min-height: 100vh;
}
.card-container{
  flex: 1 1 auto;
  width: 30%;
  border: 1px solid black;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-body{
  margin-top: 20vh;
  padding: 2vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-body p{
  color: white;
  text-align: center;
  font-family: norse-bold;
  font-size: 100px;
}
.logo{
  width: 70px;
}

.right{
  flex: 1 1 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: black;
  color:white;
  font-weight: 700;
}
.quote,
.login{
  padding: 3vw;
}
.quote{
  font-size: 25px;

}
form{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding: 3vw;
  background-color: rgb(20, 20, 20);
  box-shadow:  0px 1px 3px rgb(48, 47, 47);
}
fieldset{
  border: none;
  font-size: 30px;
}
.row{
  display: flex;
  justify-content:space-between;
  gap: 3vw;
  margin: 2vh 0;
  font-weight: 100;
  flex-wrap: wrap;
  
}
.item{
  font-size: medium;
  display:flex;
  flex-direction: column;
  flex: auto;
}
input{
  outline: 0;
  border: 0;
  background-color: rgb(20, 20, 20) ;
  border-bottom: 1px solid rgb(200,200,200);
  height: 40px;
  font-size: 25px;
  padding-top: 0px;
  color: white;
  
}
input[type=number]{
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus{
  border-bottom: 1px solid Green;
}
input:invalid{
  border-bottom: 1px solid Green;
}
.submit{
  flex: 0 0 auto;
  align-self: flex-start;
  background-color: #596D48;
  margin-top: 1vh;
  padding: 15px 6vw;
  border-radius: 5px;
  border: 1px white;
  color: white;
  cursor: pointer;
  font-size: large;
}
.submit:hover{
  background-color: #3b472f;
}
.login{
  font-size: 25px;
}