* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

body {
    display: grid;
    grid-template-rows: 2fr 5fr;
}

#content {
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
