body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
}
.row {
    flex: 1 0 0;
    height: auto;
    display: flex;
}

.box{
    flex: auto;
    border: 1px solid #ff000080;
}
.box:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.prompt {
    align-items: center;
    margin-bottom: 10px;
}